@font-face {
  font-family: "iconfont"; /* Project id 3490936 */
  src: url('iconfont.woff2?t=1656494438010') format('woff2'),
       url('iconfont.woff?t=1656494438010') format('woff'),
       url('iconfont.ttf?t=1656494438010') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiazhijiantou1:before {
  content: "\e61a";
}

.icon-dadou:before {
  content: "\e61b";
}

.icon-buxing:before {
  content: "\e626";
}

.icon-water:before {
  content: "\e640";
}

.icon-lanqiu:before {
  content: "\ea73";
}

.icon-mifan1:before {
  content: "\e60c";
}

.icon-xianxia:before {
  content: "\e608";
}

.icon-jidanicon-:before {
  content: "\e657";
}

.icon-paobu:before {
  content: "\e61c";
}

.icon--roulei:before {
  content: "\e60e";
}

.icon-yiliaohangyedeICON-:before {
  content: "\e635";
}

.icon-yiliaohangyedeICON-1:before {
  content: "\e636";
}

.icon-pingpangqiu:before {
  content: "\e725";
}

.icon-shuiguo:before {
  content: "\e637";
}

.icon-map-filling:before {
  content: "\e68c";
}

.icon-niunaihe:before {
  content: "\e7da";
}

.icon-juzhong:before {
  content: "\e64b";
}

.icon-youyong:before {
  content: "\e64d";
}

.icon-tiaosheng:before {
  content: "\e64e";
}

.icon-shucai:before {
  content: "\e62b";
}

.icon-lashen:before {
  content: "\e63d";
}

.icon-a-43-49_fuzhi-05:before {
  content: "\e60f";
}

